$indigo-100: #E0E8F9;
$indigo-200: #BED0F7;
$indigo-300: #98AEEB;
$indigo-400: #7B93DB;
$indigo-500: #647ACB;
$indigo-600: #4C63B6;
$indigo-700: #4055A8;
$indigo-800: #35469C;
$indigo-900: #2D3A8C;
$indigo-1000: #19216C;

$grey-100: #F5F7FA;
$grey-200: #E4E7EB;
$grey-300: #CBD2D9;
$grey-400: #9AA5B1;
$grey-500: #7B8794;
$grey-600: #616E7C;
$grey-700: #52606D;
$grey-800: #3E4C59;
$grey-900: #323F4B;
$grey-1000: #1F2933;

$lightblue-100:  #E3F8FF;
$lightblue-200:  #B3ECFF;
$lightblue-300:  #81DEFD;
$lightblue-400:  #5ED0FA;
$lightblue-500:  #40C3F7;
$lightblue-600:  #2BB0ED;
$lightblue-700:  #1992D4;
$lightblue-800:  #127FBF;
$lightblue-900:  #0B69A3;
$lightblue-1000: #035388;

$red-100: #FFE3E3;
$red-200: #FFBDBD;
$red-300: #FF9B9B;
$red-400: #F86A6A;
$red-500: #EF4E4E;
$red-600: #E12D39;
$red-700: #CF1124;
$red-800: #AB091E;
$red-900: #8A041A;
$red-1000: #610316;

$yellow-100: #FFFBEA;
$yellow-200: #FFF3C4;
$yellow-300: #FCE588;
$yellow-400: #FADB5F;
$yellow-500: #F7C948;
$yellow-600: #F0B429;
$yellow-700: #DE911D;
$yellow-800: #CB6E17;
$yellow-900: #B44D12;
$yellow-1000: #8D2B0B;

$green-100: #EFFCF6;
$green-200: #C6F7E2;
$green-300: #8EEDC7;
$green-400: #65D6AD;
$green-500: #3EBD93;
$green-600: #27AB83;
$green-700: #199473;
$green-800: #147D64;
$green-900: #0C6B58;
$green-1000: #014D40;
